spring.application.name=trimly-backend

spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/trimly}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD:your_password_here}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

server.port=${SERVER_PORT:8080}

trimly.jwt.secret=${JWT_SECRET:replace_with_a_long_random_secret}
trimly.jwt.expiration-ms=${JWT_EXPIRATION_MS:86400000}
resend.api.key=${RESEND_API_KEY:}
app.frontend.reset-password-url=${FRONTEND_RESET_PASSWORD_URL:http://localhost:5173/reset-password}
